.connect-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*  CHIP  */
  .chip {
    width: 18em;
    margin: 1.2em 0.5em 0 0;
    background: var(--white);
    padding: 1.25em 1.25em;
    border-radius: 45px;
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.15rem;
    img {
      width: 3em;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
